### Step 1. Import the necessary libraries

In [103]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [104]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
    
chipo = pd.read_csv(url, sep = '\t')

### Step 4. See the first 10 entries

In [105]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [106]:
chipo.shape[0]

4622

### Step 6. What is the number of columns in the dataset?

In [107]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [108]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [109]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most ordered item?

In [110]:
chipo.item_name.value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

### Step 10. How many different items were ordered?

In [111]:
chipo.item_name.unique().shape[0]

50

### Step 11. What was the most ordered item in the choice_description column?

In [112]:
chipo.choice_description.value_counts().head()

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

### Step 12. How many items were orderd in total?

In [113]:
chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

In [114]:
def num_float(x):
    return float(x[1:-1])

In [115]:
chipo.item_price = chipo.item_price.apply(num_float)

In [116]:
chipo.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39
1,1,1,Izze,[Clementine],3.39
2,1,1,Nantucket Nectar,[Apple],3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",16.98

### Step 14. How much was the revenue for the period in the dataset?

In [117]:
chipo.item_price.sum()

34500.16000000046

### Step 15. How many orders were made in the period?

In [118]:
chipo.order_id.value_counts().count()
# len(chipo.order_id.value_counts())
# chipo.order_id.value_counts().shape[0]

1834

In [119]:
chipo.tail()

,order_id,quantity,item_name,choice_description,item_price
4617,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Sour ...",11.75
4618,1833,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Sour Cream, Cheese...",11.75
4619,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",11.25
4620,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",8.75
4621,1834,1,Chicken Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Pinto...",8.75

### Step 16. What is the average quantity per order?

In [120]:
order_grouped = chipo.groupby(by=['order_id']).sum()
order_grouped['quantity'].mean()

2.711014176663032

### Step 17. What are the three most expensvie items?

In [121]:
chipo['unit_price'] = (chipo['item_price'] / chipo['quantity'])
new = chipo[['item_name', 'choice_description', 'unit_price']]
new.sort_values(by='unit_price', ascending=False)

,item_name,choice_description,unit_price
2442,Barbacoa Salad Bowl,"[Tomatillo Green Chili Salsa, [Rice, Fajita Ve...",11.89
2957,Steak Salad Bowl,"[Fresh Tomato Salsa, [Black Beans, Cheese, Gua...",11.89
613,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.89
2401,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Guaca...",11.89
281,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.89
2804,Steak Salad Bowl,"[Tomatillo Red Chili Salsa, [Rice, Black Beans...",11.89
4239,Carnitas Salad Bowl,"[Tomatillo Green Chili Salsa, [Black Beans, Ch...",11.89
2740,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Black...",11.89
3120,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
4313,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
3546,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, Guacamole]",11.89
1816,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
1311,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
2610,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
1159,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89
1590,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89
1571,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Sour ...",11.89
3493,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
1326,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89
3350,Steak Salad Bowl,"[Fresh Tomato Salsa, [Cheese, Guacamole, Lettu...",11.89
606,Steak Salad Bowl,"[Fresh Tomato Salsa, [Pinto Beans, Cheese, Gua...",11.89
749,Steak Salad Bowl,"[Roasted Chili Corn Salsa, [Rice, Cheese, Lett...",11.89
1229,Barbacoa Salad Bowl,"[Fresh Tomato Salsa, [Rice, Fajita Vegetables,...",11.89
3749,Carnitas Salad Bowl,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",11.89
1132,Carnitas Salad Bowl,"[Fresh Tomato Salsa, [Rice, Black Beans, Chees...",11.89
2439,Steak Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.89
1505,Steak Salad Bowl,"[Fresh Tomato Salsa, [Rice, Pinto Beans, Chees...",11.89
3208,Barbacoa Salad Bowl,"[Tomatillo Red Chili Salsa, [Black Beans, Chee...",11.89
3211,Barbacoa Soft Tacos,"[Roasted Chili Corn Salsa, [Rice, Black Beans,...",11.75
2231,Steak Crispy Tacos,"[Fresh Tomato Salsa, Guacamole]",11.75
...,...,...,...
246,Canned Soda,[Mountain Dew],1.09
3020,Canned Soda,[Diet Dr. Pepper],1.09
2906,Canned Soda,[Sprite],1.09
248,Canned Soda,[Mountain Dew],1.09
3021,Bottled Water,NaN,1.09
251,Canned Soda,[Diet Dr. Pepper],1.09
87,Bottled Water,NaN,1.09
3866,Canned Soda,[Mountain Dew],1.09
3042,Bottled Water,NaN,1.09
1091,Canned Soda,[Dr. Pepper],1.09
2998,Bottled Water,NaN,1.09
370,Canned Soda,[Diet Coke],1.09
1396,Canned Soda,[Coca Cola],1.09
4069,Bottled Water,NaN,1.09
126,Canned Soda,[Coca Cola],1.09
2754,Bottled Water,NaN,1.09
3364,Canned Soda,[Coca Cola],1.09
228,Canned Soda,[Mountain Dew],1.09
3434,Canned Soda,[Sprite],1.09
2922,Bottled Water,NaN,1.09
3361,Bottled Water,NaN,1.09
1457,Canned Soda,[Sprite],1.09
117,Canned Soda,[Diet Dr. Pepper],1.09
1431,Canned Soda,[Sprite],1.09
2961,Canned Soda,[Sprite],1.09
378,Canned Soda,[Mountain Dew],1.09
1805,Canned Soda,[Sprite],1.09
2520,Canned Soda,[Coca Cola],1.09
2981,Bottled Water,NaN,1.09
646,Canned Soda,[Sprite],1.09